*{
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}
.header{
    background: #4f4c4c;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
}
.main{
    height: 100%;
    margin-top: 60px;
    padding: 10px 50px;
}
#sidebarmenu{
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    margin-top: 60px;
    background:#2e86de;
    transform: translateX(-250px);
    transition:transform 250ms ease-in-out;
}
#opensidebarmenu:checked ~ #sidebarmenu{
    transform: translateX(0px);
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li{
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.menu li a{
    color: #fff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;   
    padding: 20px;
}
.sidebaricontoggle{
    width: 22px;
    height: 22px;
    position: absolute;
    z-index: 20;
    top: 22px;
    left: 15px;
    cursor: pointer;
}
.spinner{
    height: 3px;
    background: #fff;
    transition: all 0.3s;
}
.spinner.middle,
.spinner.bottom{
    margin-top: 3px;
}
#opensidebarmenu:checked ~ .sidebaricontoggle > .spinner.middle{
    opacity: 0;
}
#opensidebarmenu:checked ~ .sidebaricontoggle > .spinner.top{
    transform: rotate(135deg);
    margin-top: 8px;
}
#opensidebarmenu:checked ~ .sidebaricontoggle > .spinner.bottom{
    transform: rotate(-135deg);
    margin-top: -9px;
}